.App {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transition: background 1s ease-in-out;
}
#Searchbar {
    position: fixed;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-left: -150px;
    top: 50%;
    left: 50%
}
#Todo-list {
    position: fixed;
    height: auto;
    width: 270px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    justify-content: center;
   
}
@font-face {
    font-family: sw;
    src: url('fonts/Starjhol.ttf');
    font-style: normal;
}
h2 {
    font-family: sw, serif;
    position: fixed;
    font-size: 60px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    top: 0;
}
#Clock{
    font-family: arial, serif;
    text-align: center;
    position: relative;
    top: 20%;
}
#Clock h1{
    font-size: 100px;
}

#Weather {
    position: fixed;
    display: flex;
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: center;
   
}
#CharacterDash{
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 68%;
    left: 2%;
}
.hidden{
    display: none;
}
@media (max-width: 960px) {

    #Clock {
        top: 20%;
    }
    #Searchbar {
        top:90%
    }
    #News {
        display: none;
    }
}
@media (max-width: 600px) {

    h2 {
        display: none;
    }
    #Sidebar {
        display: none;
    }
    #Clock {
        top: 0;
        margin-top: 0;
    }
    #Weather {
        top: 160px;
        margin-left: -160px;
        left: 50%
    }
    #Todo-list {
        height: 250px;
        overflow: scroll;
        top: 400px;
        width: 300px;
        justify-content: center;
        margin-left: -150px;
        left: 50%
    }
    #Searchbar {
        bottom: 10px;
        flex: none;
    }
}
.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;

}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backgroundLoad{
    background-image: url("../assets/img/Loading.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
