.App {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#Searchbar {
    position: relative;
    display: flex;
    width: 20%;
    justify-content: center;
    margin: auto;
    top: 50%;
}
#Todo-list {
    position: relative;
    height: 400px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: center;
    top: 10%;
    left: 10%;
}
@font-face {
    font-family: sw;
    src: url('fonts/Starjhol.ttf');
    font-style: normal;
}
h2 {
    font-family: sw, serif;
    position: fixed;
    font-size: 80px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    top: 0;
}
#Clock {
    font-family: arial, serif;
    font-size: 60px;
    position: relative;
    top: 20%;
}

