
.characterBackground{
    position: relative; 
    width: 167px;
    height: 167px;
    background: beige; 
    border: 1px solid grey;
    border-radius: 50%;
}

.characterFrame{
    position: absolute; 
    border: 1px solid black;
    border-radius: 50%;
}

.characterAbsolute{
    position: absolute;
}

.characterAbsolute img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frameAbsolute{
    position: absolute;
    left: -8px;
    top:-19px;
}

.infoIcon{
    position: relative;
    left: 155px;
    top: 155px;
}

.infoIcon svg:hover{
    fill: #F9D71C;
    transform: scale3d(1.1, 1.1, 1.1);
}

.infoBox{
    position: relative;
    left: 210px;
    bottom: 150px;
    background-color: #343A40;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
}

.infoBox p{
    margin-top: 10px;
    margin-left: 10px;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}