.newsView {
    width:290px;
    height:420px;
    overflow:scroll;
    box-shadow: 0 2px 10px #aaa9a9;
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease-out;
}
.newsView.hidden{
    opacity: 0;
    visibility: hidden;
}

.newsView-background {
    display:-webkit-flex;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background-color:#fff;
    border: 2px solid #c8c8c8;
    border-radius: 5px;
}
.newsView-card {
    display:flex;
    flex-direction:row;
    width:257px;
    height:94px;
    border:1px solid #ffca0a;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:12px;
    padding:8px;
    transition:all .2s ease
}
.cardId0 {
    margin-top:12px
}
.newsView-card:hover {
    cursor:pointer;
    border-radius:5px;
    box-shadow:0 7px 6px #b8b8b8;
    width:260px;
    height:100px
}
.newsView-card:active {
    background-color:#c4c4c4
}
.newsView-picture-small {
    height:75px;
    width:75px;
    margin-right:5px;
    border-radius:5px
}
.newsView-div-title {
    display:-webkit-flex;
    display:flex;
    height:45px
}
.newsView-title {
    font-weight:700;
    font-size:0.90em;
    color:#000;
    font-family:"Noto Sans JP",sans-serif
}
.extended-newsView {
    width:290px;
    height:200px;
    box-shadow: 0 2px 10px #aaa9a9;
    opacity: 1;

    position: absolute;
    transition: all 0.4s ease-out;
}
.extended-newsView.hidden{
    transform:translateX(-75%);
    opacity: 0;
    visibility: hidden;
}

.extended-newsView-card {
    display:-webkit-flex;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border:1px solid #ffca0a;
    margin:8px 12px 12px;
    padding:8px;
    border-radius:5px
}
.newsView-picture-medium {
    height:88px;
    width:88px;
    margin-right:5px;
    border-radius:5px
}
.extended-newsView-img-wrapper {
    float:left
}
.newsView-div-text {
    display:-webkit-flex;
    display:flex
}
.newsView-text {
    font-weight:300;
    font-size:.85em;
    color:#000;
    margin:0
}
.extended-newsView-navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:12px;
    margin-right:12px;
    margin-top:12px
}
.newsButton {
    display:flex;
    flex-direction:row
}
.newsButton {
    justify-content:center;
    width:125px;
    height: 32px;
    color:#000;
    font-weight:500;
    font-size:.8em;
    border:2px solid #a3a3a3;
    border-radius:10px;
    padding: 4px;
    transition:all 175ms ease;
}
.newsButton:hover {
    cursor:pointer;
    transition:all .2s ease
}
.newsButton:active {
    background-color:#ccc;
    border-radius:6px
}
.newsIcon {
    height:20px;
    margin-left:5px;
    margin-right:5px
}
#backArrow {
    transition:all .3s ease
}
.newsButton:hover #backArrow {
    transform:translateX(-15%)
}
#omniArrow {
    transition:all .3s ease
}
.newsButton:hover #omniArrow {
    transform:translateX(15%)
}
.newsButton-text {
    margin-left:5px;
    margin-right:5px;
    width:50px;
    display:flex;
    justify-content:center
}

.extended-newsView-div-img-text {
    margin-top: 5px;
}

