.newsView{
    width: 320px;
    /*height: 332px;*/
}
.newsView-background{
    background-color: #4C4C4C;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.newsView-card{
    display: flex;
    flex-direction: row;
    background-color: #929292;
    width: 295px;
    height: 94px;
    border: 1.5px solid #FFCA0A;

    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;

    padding: 8px;

    transition: background-color 200ms ease;

}
.cardId0{
    margin-top:12px ;
}
.newsView-card:hover{
    background-color: #a6a6a6;
    cursor:pointer;
}
.newsView-card:active{
    background-color: #c4c4c4;
}
.newsView-picture-small{
    height: 75px;
    width: 75px;

    border: 1.5px solid #E5E5E5;
    border-radius: 1px;
}
.newsView-div-title{
    display: flex;
    height: 45px;
}
.newsView-title{
    font-weight: 525;
    font-size: 0.80em;
    color: #FAFAFA;
    margin-left: 10px;
}
.extended-newsView {
    width: 320px;
    height: 200px;
}
.extended-newsView-card{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #929292;
    width: 295px;
    border: 1.5px solid #FFCA0A;

    margin: 8px 12px 12px;

    padding: 8px;

}

.newsView-picture-medium{
    height: 100px;
    width: 100px;
    border: 1.5px solid #E5E5E5;
    border-radius: 1px;
    margin-right: 5px;
}
.extended-newsView-img-wrapper{
    float: left;
}
.newsView-div-text{
    display: flex;
}
.newsView-text{
    font-weight: 300;
    font-size: 0.65em;
    color: #FAFAFA;
    margin: 0;
}

.extended-newsView-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px
}
.newsButton{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 140px;
    height: 28px;
    background-color: #929292;

    color: #FAFAFA;
    font-weight: 500;
    font-size: 0.80em;

    border: 1.5px solid #E5E5E5;
    border-radius: 4px;

    padding: 2px;


    transition: background-color 175ms ease;
}

.newsView-div-omniButton{
    background-color: #000000 !important;
}

.newsButton:hover {
    background-color: #a6a6a6;
    cursor: pointer;

    transition: background-color 200ms ease;
}
.newsButton:active{
    background-color: #cccccc;
    border-radius: 6px;
}

.newsIcon{
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#backArrow{
    transition: all 500ms ease;
}
.newsButton:hover #backArrow{

    transform: translateX(-15%);
}

#omniArrow{
    transition: all 500ms ease;
}
.newsButton:hover #omniArrow{

    transform: translateX(15%);
}

.newsButton-text{

    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
}


