.quote div{
    width: 100%;
    
}
.quote h1{
    background: rgba(0, 0, 0, 0.5);
    color:white;
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 35px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
}
.quote h3{
    color: black;
    background: rgba(255, 255, 255, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    border-radius: 10px;
    display: block;
    position: absolute;
    width: auto;
    left: 65%;
    top: 60px;
    font-size: 25px;
 
}
