text {
    overflow-wrap: break-word !important;
}
input:focus {
    outline: none;
    box-shadow: none !important;
}
p {
    font-style: oblique;
}
[contenteditable] {
    outline: 0px solid transparent;
    text-align: center;
}
svg {
    fill: white;
    opacity: 0.2;
}
svg:hover {
    opacity: unset;
}
textarea {
    resize: none;
    width: inherit;
    box-shadow: none !important;
    outline:none;
    overflow: visible;
    overflow-wrap: break-word;
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:2px;
    width:90%;
    border-top:1px solid gray;
}

#title-div {
    flex-grow: inherit;
    overflow: auto;
    border: solid 1px;
}

#todoTitle {
    background-color: transparent;
    font-family: sw, serif;
    color:#F9D71C;
    font-size: xx-large;
    border: none;
}
@font-face {
    font-family: sw;
    src: url('fonts/Starjhol.ttf');
    font-style: normal;
}
#taskInput {
    background-color:transparent;
    color:inherit;
    border: none;
}

#removeButton {
    background-color: transparent;
    border-color: transparent;
    margin-right: 0;
    padding-right: 0;

}
#clearButton {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

#task {
    margin-left: 2px;
}

#checkedTask {
    margin-left: 2px;
    text-decoration: line-through;
    opacity: 0.4;
}

#removeListButton {
    border-radius: 50%;
    height: 20px;
    width: 10px;
    background-color: inherit;
}

