input[type=checkbox]:checked + label {
    text-decoration: line-through;
    opacity: 0.4;
}
p {
    font-style: oblique;
}
.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:2px;
    width:90%;
    border-top:1px solid gray;
}
#todoTitle {
    background-color: transparent;
    color:inherit;
    font-size: xx-large;
    border: none;
}
#todoTitle:focus {
    outline-color: white;
}
#taskInput {
    background-color:transparent;
    color:inherit;
    border: none;
}
#removeButton {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}
#task {
    margin-left: 6px;
}