.weather-TodayCard {
    display: flex;
    justify-content: space-around;
    background-color: #343A40;
    border-radius: 10px;
    width: 260px;
    height: 130px;
    flex-direction: row;
    flex-flow: wrap;
}

.weather-day-position-titleDiv {
    width: 100%;
    flex-direction: row;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    height: 25px;
}

.weather-dayOne-weatherData {
    height: 108px;
    display: flex;
    flex-flow: wrap;
}
.weatherData-imgContainer {
    width: 40%;
}
.weather-dayOne-weatherData {
    width: 100%;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
}
.weather-dataContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.dataCol {
    width: 45%;
}

.dataContainer-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.weather-IconMedium {
    height: 85px;
    width: 100%;
}

.weather-title {
    height: 100%;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
}
.weather-dayCard{
    background-color: #343a40;
    border-radius: 10px;
    width: 83px;
    height: 80px;
}

.weatherRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
    margin: 5px;
}

.weather-dayCard-imgContainer {
    width: 100%;
    height: 50px;
    margin-top: 2px;
}
.weather-IconSmall {
    width: 100%;
    height: 100%;
}
.weather-dayCard-dataContainer.row {
    width: 100%;
    height: 20px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2px;
    padding-right: 7px
}

.weather-title-small {
    font-size: 8px;
    font-weight: 600;
    width: 70%;
    margin: 0;
}

.weather-text-small {
    font-size: 8px;
    margin: 0;
}

.weather-position-title {
    font-size: 0.7em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.weather-presenter {
    color: white;
}